[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
pytest = "*"

[packages]
flake8 = "*"
pyyaml = "*"
jinja2 = "*"
notebook = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
